@import "tailwindcss";

@theme {
  --color-neon: #ccff00;
  --color-dark: #0a0a0a;
  --font-display: "Anton", sans-serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-dark);
  color: white;
}
